*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.textoMembros{
  text-align: center;
  padding-top: 10px;
  font-size: 200%;
  transition: 2s;
}

.tituloMembros{
  margin: 15px;
  text-align: right;
  font-size: 175%;
  transition: 2s;
}

.container{
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 750px;
  margin-top: 50px;
  margin-bottom: 100px;
  transition: 2s;
}

.container .card{
  transition: 2s;
  background-color: rgb(241, 239, 239);
  margin: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 200px auto 100px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "f n c" 
                       "f a c";
}


.container .card img{
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px #dad8d8;
  padding: 10px;
  width: 170px;
  right: 170px;
  grid-area: f;
}

.container  .card .nome{
  padding-top: 30px;
  grid-area: n;

}
.container .card .atuacao{
  grid-area: a;

}

.container .card a{
  grid-area: c;
}

.container .card a img{
  margin-top: 50px;
  margin-bottom: 25px;
  max-width: 50px;
  border-radius: 50%;
}


@media screen and (max-width: 800px) {
   .container 
  {
    display: grid;
    align-items: center;
    width: auto;
  }
  
  .container .card{
  background-color: rgb(241, 239, 239);
  margin: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 200px auto 100px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "f n c" 
                       "f a c";
  }

  .container .card img{
    margin-right: auto;
    margin-left: auto;
  }
}
  
@media screen and (max-width: 600px) {
   .container 
  {
    margin-right: auto;
    margin-left: auto;
    display: grid;
    align-items: center;
    width: auto;
  }
  
  .container .card
  {
    text-align: center;
    background-color: rgb(241, 239, 239);
    margin: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 1fr 1fr auto auto auto;
    grid-template-areas: "f " 
                         "f "
                         "n "
                         "a "
                         "c ";
    margin-bottom: 10px;
  }

  .container .card img{
    margin-right: auto;
    margin-left: auto;
  }
}

  @media screen and (max-width: 300px) {
   .container 
  {
    display: grid;
    align-items: center;
    width: auto;
  }
  
  .container .card
  {
    text-align: center;
    background-color: rgb(241, 239, 239);
    margin: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 1fr 1fr auto auto auto;
    grid-template-areas: "f " 
                         "f "
                         "n "
                         "a "
                         "c ";
    margin-bottom: 10px;
  }

  .container .card img{
    margin-right: auto;
    margin-left: auto;
  }
}
