header {
  width: 100%;
  background-color: #030226;
  padding: 1em 2em;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav > .logo {
  width: 85px;
  height: 85px;
}

header > nav > .logo img {
  width: 100%;
  height: 100%;
}

header > nav > ul {
  width: 50%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  transition: 1s all ease-in-out;
}

header > nav > ul > li > a {
  color: white;
  text-decoration: none;
}

header > nav > ul > li > a:hover {
  border-bottom: 1px solid white;
}

header > nav > .mobile {
  display: none;
}

@media screen and (max-width: 700px) {
  header > nav {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  header > nav > ul {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-top: 1em;
  }

  header > nav > .mobile {
    width: 50%;
    display: block;
    color: white;
    text-align: right;
    margin-top: 1em;
  }

  header > nav > ul.mobile-menu-open {
    display: flex;
    flex-direction: row;
    transform: translateX(0px);
    padding: 2em;
  }
  
  ul.mobile-menu {
    display: flex;
    flex-direction: row;
    transform: translateX(-500px);
  }

  header > nav > .mobile > .listMobile {
    font-size: 25px;
  }
}
